@import "/src/responsive/reponsive-mixins.scss";

:host {
  height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header header "
    "productList cart";
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 5fr minmax(20rem, 2fr);
  padding-bottom: 4rem;

  @include respond(phone) {
    grid-template-areas:
      "header"
      "productList";
    grid-template-columns: 1fr;
  }
}
