@import "/src/responsive/reponsive-mixins.scss";

:host {
  height: 100vh;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header header "
    "main cart";
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 5fr minmax(20rem, 2fr);

  @include respond(phone, tab-port) {
    grid-template-areas:
      "header"
      "main";
    grid-template-columns: 1fr;
  }
}
