<fa-icon [icon]="faArrowLeft" (click)="goBack()" size="xl"></fa-icon>
<div *ngIf="product">
  <h2>{{ product.title }}</h2>
  <p><strong>Country:</strong> {{ product.country }}</p>
  <p><strong>Description:</strong> {{ product.description }}</p>
  <p><strong>Genre:</strong> {{ product.genre }}</p>
  <p><strong>Original Title:</strong> {{ product.originalTitle }}</p>
  <p><strong>Price:</strong> {{ product.price | currency }}</p>
  <p><strong>Product Type:</strong> {{ product.productType }}</p>
  <p><strong>Ranking:</strong> {{ product.ranking | starRanking }}</p>
  <p><strong>Year:</strong> {{ product.year }}</p>

  <div class="actions">
    <button (click)="addToCart()">Add to cart</button>
    <input
      type="number"
      class="input-quantity"
      [(ngModel)]="quantity"
      min="1"
    />
  </div>
</div>
