@import "/src/responsive/reponsive-mixins.scss";

:host {
  grid-area: cart;

  background-color: var(--body-bg);
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-right: 1rem;

  @include respond(phone, tab-port) {
    position: fixed;
    display: none;
    z-index: 100;
    top: 5.5rem;
    left: 0rem;
    right: 0rem;
    height: 95vh;
    margin: 0;
  }

  &.--open {
    display: block !important;
  }
}

fa-icon ::ng-deep {
  cursor: pointer;
}

h2 {
  text-align: center;
}

.clearCart {
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  // scrap text more than 1 line and add ...
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5rem;
}

tr {
  height: 2rem;
}
