:root {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: whitesmoke;
  --body-bg: #ffffff;
  --body-color: #000000;

  // dark mode
  // --body-bg: #000000;
  // --body-color: #ffffff;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  border: 1px solid var(--body-color);
  padding: 5px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

button:hover {
  background-color: var(--body-color);
  color: var(--body-bg);
}
