@import "/src/responsive/reponsive-mixins.scss";

:host {
  grid-area: main;

  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-left: 1rem;

    @include respond(phone, tab-port) {
        margin-right: 1rem;
    }
}
