@import "/src/responsive/reponsive-mixins.scss";

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #333;
  cursor: pointer;
}

:host {
  grid-area: header;

  position: fixed;
  background-color: white;
  width: 100%;
  height: 4rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-cart {
  margin-right: 2rem;
  display: none;

  @include respond(phone, tab-port) {
    display: block;
  }
}
